@model string
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="text-danger">Ha ocurrido un error</h5>
    <p>@Model</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
