@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Gestión Pedidos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
@*     <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> *@

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UsuarioLogueado")))
    {
        var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
        var usuario = HttpContextAccessor.HttpContext.Session.GetString("UsuarioLogueado");

        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
                <a class="logo d-flex align-items-center">
                    <span class="d-none d-lg-block">Gestión de Pedidos</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->         


        </header>

        <!-- End Header -->
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
                @if (role == "Cliente")
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="NuevoPedido">
                            <i class="bi bi-plus-circle"></i>
                            <span>Nuevo Pedido</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="BuscarPedidos">
                            <i class="bi bi-search"></i>
                            <span>Buscar Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Productos" asp-action="Index">
                            <i class="bi bi-box"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                }
                else if (role == "Administracion")
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="SupervisarPedidos">
                            <i class="bi bi-clipboard-check"></i>
                            <span>Supervisar Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="NuevoPedido">
                            <i class="bi bi-plus-circle"></i>
                            <span>Nuevo Pedido</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="BuscarPedidos">
                            <i class="bi bi-search"></i>
                            <span>Buscar Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Clientes" asp-action="Index">
                            <i class="bi bi-people"></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Productos" asp-action="Index">
                            <i class="bi bi-box"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#">
                            <i class="bi bi-bar-chart"></i>
                            <span>Métricas</span>
                        </a>
                    </li>
                }
                else if (role == "Supervisor de Carga")
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="BuscarPedidos">
                            <i class="bi bi-search"></i>
                            <span>Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="SupervisarPedidos">
                            <i class="bi bi-clipboard-check"></i>
                            <span>Supervisar Pedidos</span>
                        </a>
                    </li>
                }
                else if (role == "Vendedor")
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="NuevoPedido">
                            <i class="bi bi-plus-circle"></i>
                            <span>Nuevo Pedido</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pedidos" asp-action="BuscarPedidos">
                            <i class="bi bi-search"></i>
                            <span>Buscar Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Productos" asp-action="Index">
                            <i class="bi bi-box"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Clientes" asp-action="Index">
                            <i class="bi bi-people"></i>
                            <span>Clientes</span>
                        </a>
                    </li>  
                }
                <li class="nav-item mt-auto border-top pt-3 text-center">
                    <span class="d-block mb-2 text-muted">Usuario: <strong>@usuario</strong></span>
                    <a class="nav-link collapsed" asp-controller="Account" asp-action="Logout">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>

        </aside>


        <!-- End Sidebar-->

        <main id="main" class="main">
            @RenderBody()
        </main>


        <!-- Navbar lateral -->
 @*        <nav id="sidebar" class="navbar navbar-light bg-white flex-column position-fixed vh-100 p-3 d-flex flex-column align-items-start">
            <button id="menuClose" class="btn btn-light align-self-start mb-3 d-lg-none" style="width: auto;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>              
            </button>

            <ul class="navbar-nav flex-column w-100 mb-auto">
                @if (role == "Cliente")
                {
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="NuevoPedido">Nuevo pedido</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="BuscarPedidos">Buscar pedidos</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Productos" asp-action="Index">Productos</a></li>
                }
                else if (role == "Administracion")
                {
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="SupervisarPedidos">Supervisar pedido</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="NuevoPedido">Nuevo pedido</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="BuscarPedidos">Buscar pedidos</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Productos" asp-action="Index">Productos</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" href="#">Métricas</a></li>
                }
                else if (role == "Supervisor de Carga")
                {
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="BuscarPedidos">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="SupervisarPedidos">Supervisar pedido</a></li>
                }
                else if (role == "Vendedor")
                {
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="NuevoPedido">Nuevo pedido</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Pedidos" asp-action="BuscarPedidos">Buscar pedidos</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Productos" asp-action="Index">Productos</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                }
            </ul>
            <div class="mt-auto w-100 text-center border-top pt-3">
                <span class="d-block mb-2">Usuario: <strong>@usuario</strong></span>
                <a class="btn btn-dark btn-sm w-100" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
            </div>
        </nav>

        <!-- Contenido principal -->
        <main id="mainContent" class="flex-grow-1">
            <!-- Botón Hamburguesa -->
            <button id="menuToggle" class="btn btn-light position-fixed top-0 start-0 m-3 d-block d-lg-none" style="z-index: 1050;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                </svg>
            </button>

            <!-- Header -->
            <header class="bg-white border-bottom shadow-sm py-3">
                <div class="container d-flex justify-content-center">
                    <h1 class="text-primary fs-3 fw-bold m-0">Gestión de Pedidos</h1>
                </div>
            </header>




            <div class="p-4">
                @RenderBody()
            </div>
        </main> *@
    }

   @*  <footer class="bg-light text-center py-3">
        <p class="m-0 text-dark">&copy; 2024 - Impact Computers</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const sidebar = document.getElementById('sidebar');
        const menuToggle = document.getElementById('menuToggle');
        const menuClose = document.getElementById('menuClose');
        const navLinks = sidebar.querySelectorAll('.nav-link');

        // Verificar si es modo desktop
        function isDesktop() {
            return window.innerWidth >= 992; // 992px es el breakpoint de Bootstrap para desktop
        }

        // Toggle sidebar en mobile
        menuToggle.addEventListener('click', () => {
            if (!isDesktop()) {
                sidebar.style.transform = 'translateX(0%)';
                sidebar.style.zIndex = '2000'; // Asegura que esté por encima de otros elementos
            }
        });

        // Cerrar sidebar al hacer clic en "X" solo en mobile
        menuClose.addEventListener('click', () => {
            if (!isDesktop()) {
                sidebar.style.transform = 'translateX(-100%)';
            }
        });

        // Cerrar sidebar al seleccionar un enlace solo en mobile
        navLinks.forEach(link => {
            link.addEventListener('click', () => {
                if (!isDesktop()) {
                    sidebar.style.transform = 'translateX(-100%)';
                }
            });
        });


    </script> *@



    <!-- Vendor JS Files -->
    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>
</html>
